
<div class="pad-left">
  <h2>Order Detail</h2>
  <strong>Order No.: </strong>{{orderListData.id}}
  <br>
  <strong>Order Time: </strong>{{toDateString(orderListData.createAt)}}  
  <br>
  <strong>Name: </strong>{{orderListData.userId}}
  <br>  
  <strong>Address: </strong>{{orderListData.address}}
  <br>  
  <strong>Menu:</strong>
  <div>
    <table>
      <tr>
        <th>Menu</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
      <tr *ngFor="let orderMenu of orderMenuData ">
        <td>{{orderMenu.menuId}}</td>
        <td>300</td>
        <td>{{orderMenu.quantity}}</td>
      </tr>
    </table>
  </div>
  <br>
  <strong>Total Quantity: </strong>
  <br>
  <strong>Total Price: </strong>{{orderListData.price}}
  <br>
  <button class="btn btn-primary" (click)="onClickOrderDetailDone()" >OK</button>
  
</div>