<div *ngIf="!isOrderComplete">
  <h3>User</h3>
  <br>
  <h3>Address</h3>
   <button type="button" class="btn btn-primary" (click)="mapModal.showChildModal()" >Map</button>
  <br>
  <h3>Menu</h3>
  <br>
  <br>
  <br>
  Menus Price:
  <br>
  Delivery Price:
  <br>
  Total Price:
  <br>
  <button type="button" class="btn btn-primary" (click)="createOrder()" >Confirm</button>

</div>

<div *ngIf="isOrderComplete">
  <h3>Order Completed</h3>
  <strong>Order No.: </strong>{{orderListData.id}}
  <br>
  <strong>Order Time: </strong>{{toDateString(orderListData.createAt)}}  
  <br>
  <strong>Name: </strong>{{orderListData.userId}}
  <br>  
  <strong>Address: </strong>{{orderListData.address}}
  <br>  
  <strong>Total Price: </strong>{{orderListData.price}}
</div>

<!--Map-->
<app-modal #mapModal [title]="mapTitle">
  <div>
    <app-map></app-map>
  </div>
</app-modal>
