
<div class="pad-left">
  <h2>Ordering</h2>
  <h3>User</h3>
  <div class="pad-left">
    <br>
  </div>
  <h3>Address</h3>
      <div class="pad-left">
        <span >{{address}}</span>
        {{lat}},{{lng}}
        <br>
        <button type="button" class="btn btn-primary" (click)="mapModal.showChildModal(); " >Select Address</button>
      </div>
  <br>
  <h3>Menu</h3>
  <div class="pad-left">
      <table>
        <tr>
          <th>Menu</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
        <tr *ngFor="let menuList of menuLists ">
          <td>{{menuList.name}}</td>
          <td>{{menuList.price}}</td>
          <td>{{menuList.quantity}}</td>
        </tr>
      </table>
      <br>
      <strong>Quantity: </strong>{{calTotalQuantity()}}
      <br>
      <strong>Menu Price: </strong>{{calTotalMenuPrice()}}
      <br>
      <strong>Delivery Price: </strong>
      <br>
      <strong>Total Price: </strong>
      <br>
  </div>
  <div class="pad">
      <button type="button" class="btn btn-primary" (click)="createOrder()" [disabled]="!isSelectAddress||isLoading">Confirm</button>
      <span *ngIf="isLoading">Loading . . .</span>
  </div>

</div>



<!--Map-->
<app-modal #mapModal [title]="mapTitle">
  <div>
    <app-map #map></app-map>
    <button class="btn btn-primary" (click)="selectAddress(map.lat,map.lng); mapModal.hideChildModal(); getAddress();" >OK</button>
  </div>
</app-modal>
