
<h1><span class="label label-default">MENU</span></h1>
<p [hidden]='notAdmin'><button class="btn btn-primary" (click)='modalAddMenu.showModal()'>Add menu</button></p>
<app-menu-admin-modal #modalAddMenu [isTopping]='false'></app-menu-admin-modal>
<div *ngFor="let item of menuList; let i = index;">
  <div class="col-md-4">
    <div class="thumbnail">
      <img *ngIf="photoList.length > 0" src="{{photoList[i]}}">
      <div class="caption">
        <h3>{{item.name}} ราคา {{item.price}} บาท</h3>
        <p >{{item.description}}</p>
        <p [hidden]='notAdmin'><a href="#" class="btn btn-default" (click)="modalEditMenu.showModal()" role="button">Edit</a> <a href="#" class="btn btn-danger" role="button" (click)="removeMenu(item.id, i)">Remove</a></p>
      </div>
    </div>
  </div>
  <app-menu-admin-modal #modalEditMenu [id]='item.id' [name]='item.name' [description]='item.description' [price]='item.price' ></app-menu-admin-modal>
</div>
<br/>

<h1><span class="label label-default">TOPPING</span></h1>
<p [hidden]='notAdmin'><button class="btn btn-primary" (click)='modalAddTopping.showModal()'>Add topping</button></p>
<app-menu-admin-modal #modalAddTopping [isTopping]='true'></app-menu-admin-modal>
<div *ngFor="let item of toppingList" class="well col-sm-6 col-md-4">
  <h2>{{item.name}} ราคา {{item.price}} </h2><br/><p [hidden]='notAdmin'><a href="#" class="btn btn-default" role="button" (click)='modalEditTopping.showModal()'>Edit</a> <a href="#" class="btn btn-danger" role="button" (click)="removeTopping(item.id, i)">Remove</a></p>
  <app-menu-admin-modal #modalEditTopping [isTopping]='true' [id]='item.id' [name]='item.name' [price]='item.price'></app-menu-admin-modal>
</div>



