
<h1><span class="label label-default">MENU</span></h1>
<div *ngFor="let item of menuList; let i = index;" class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img *ngIf="photoList.length > 0" src="{{photoList[i]}}">
      <div class="caption">
        <h3>{{item.name}} ราคา {{item.price}} บาท</h3>
        <p >{{item.description}}</p>
        <p><a href="#" class="btn btn-default" role="button">Edit</a> <a href="#" class="btn btn-danger" role="button" (click)="removeMenu(item.id, i)">Remove</a></p>
      </div>
    </div>
  </div>
</div>
<br/>

<h1><span class="label label-default">TOPPING</span></h1>
<div *ngFor="let item of toppingList" class="well col-sm-6 col-md-4">
  <h2>{{item.name}} ราคา {{item.price}} </h2><br/><a href="#" class="btn btn-default" role="button">Edit</a> <a href="#" class="btn btn-danger" role="button" (click)="removeTopping(item.id, i)">Remove</a>
</div>

<app-menu-admin-modal [show]="true"></app-menu-admin-modal>
