<app-modal #menuAdmin [title]="title" >
  <form [hidden]="!isSubmit" (ngSubmit)="onSubmit()" #menuAdmin="ngForm">
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="name" placeholder="Title" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="description">Title</label>
      <input type="text" class="form-control" id="description" [(ngModel)]="description" placeholder="Description" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="price">Title</label>
      <input type="text" class="form-control" id="price" [(ngModel)]="price"  placeholder="Price" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="pic">Upload Picture</label>
      <input type="file" id="pic" (change)="picChange($event)">
    </div>
    <div class="form-group" style="text-align: right">
      <button type="submit" (click)="onSubmit()" class="btn btn-primary">Save</button>
    </div>
  </form>


  <!--modal complete-->
  <div [hidden]="isSubmit" style="text-align: center">
    <div>
      {{message}}
    </div>
    <div style="text-align: right">
      <button class="btn btn-primary" (click)="closeModal()">OK</button>
    </div>
  </div>
</app-modal>
