<app-modal #signUpModal [title]="signUpTitle" >
  <form [hidden]="isValid" (ngSubmit)="onSubmit()" #signupForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="username" #un="ngModel" placeholder="Username" [ngModelOptions]="{standalone: true}" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]=password #pw="ngModel" [ngModelOptions]="{standalone: true}" required>
    </div>
    <div class="form-group">
      <label for="cfPassword">Confirm Password</label>
      <input type="password" class="form-control" id="cfPassword" name="cfPassword" placeholder="Confirm Password" [(ngModel)]=confirm_password #cfpw="ngModel" [ngModelOptions]="{standalone: true}" required>
    </div>
    <!--<div class="form-group">
      <label for="firstname">Firstname</label>
      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Firstname"  [(ngModel)]=firstname #fn="ngModel" [ngModelOptions]="{standalone: true}" required>
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="surname" class="form-control" id="surname" name="surname" placeholder="Surname" [(ngModel)]=surname #sn="ngModel" [ngModelOptions]="{standalone: true}" required>
    </div>-->
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email"  [(ngModel)]=email #em="ngModel" [ngModelOptions]="{standalone: true}" required>
    </div>
    <!--<div class="form-group">
      <label for="address">Address</label>
      <textarea [(ngModel)]="address" id="address" class="form-control" rows="3" [ngModelOptions]="{standalone: true}" #addr="ngModel" required></textarea>
    </div>-->
    <div class="form-group" style="text-align: right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <!--modal complete-->
  <div [hidden]="!isValid" style="text-align: center">
    <div>
      SignUp is completed.
    </div>
    <div style="text-align: right"> 
      <button class="btn btn-primary" (click)="closeModal()">OK</button>
    </div>
  </div>
</app-modal>