<div class="pad-left">
  <h2>Kitchen Ordering</h2>
  <br>
  <h3>Order</h3>
  <div class="col-md-4">
  <img src="http://1.bp.blogspot.com/-y7nnvjQKgPs/VpnOrOtFeHI/AAAAAAAAErQ/OK3oCo41PHA/s1600/5058962-3x2-940x627.jpg" width="400" height="300">
  </div>
  <div class="col-md-8">
  <div class="pad">
      <table class="table">
    <tbody>
        <tr>
          <th>Order ID</th>
            <td>1</td>
        </tr>
        <tr>
          <th>เมนู</th>
            <td>John</td>
        </tr>
        <tr>
          <th>ท็อปปิ้ง</th>
            <td>Carter</td>
        </tr>
        <tr>
          <th>ผู้สั่ง</th>
            <td>johncarter@mail.com</td>
        </tr>
        <tr>
          <th>จำนวน</th>
            <td>johncarter@mail.com</td>
        </tr>
         <tr>
         <th>สถานะ</th>
            <td>johncarter@mail.com</td>
        </tr>
    </tbody>
</table>
    <button type="button" class="btn btn-success" >Success</button>
    <button type="button" class="btn btn-danger" >Cancel</button>
  </div>
  </div>
</div>
