<div *ngIf="initialized" class="pad-left" >
  <h2>Kitchen Ordering</h2>
  <br>
  <h3>Order</h3>
  <div *ngFor="let kitchenOrder of kitchenOrders;let ind = index " class="row">
    <div>
    <div class="col-md-4">
      <img [src]=imgMenu[ind] width="400" height="300">
    </div>
    <div class="col-md-6">
      <div class="pad-down">
        <table class="table">
          <tbody>
            <tr>
              <th>Order ID</th>
              <td>{{kitchenOrder.orderid}}</td>
            </tr>
            <tr>
              <th>เมนู</th>
              <td>{{menuOrders[ind].name}}</td>
            </tr>
            <tr>
              <th>ท็อปปิ้ง</th>
              <td>{{getTopping(kitchenOrder.toppingid)}}</td>
            </tr>
            <tr>
              <th>ผู้สั่ง</th>
              <td>{{kitchenOrder.userid}}</td>
            </tr>
            <tr>
              <th>จำนวน</th>
              <td>{{kitchenOrder.quantity}}</td>
            </tr>
            <tr>
              <th>สถานะ</th>
              <td>{{kitchenOrder.status}}</td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-success" (click)="onSuccess(kitchenOrder)">Success</button>
        <button type="button" class="btn btn-danger" (click)="onCancel(kitchenOrder)">Cancel</button>
      </div>
      </div>
    </div>
  </div>
</div>